<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>NextReview</title>

  <!-- Project common stylesheets -->
  <block th:replace="fragments/stylesheets"/>
  
  <!-- Tokenize2 CSS -->
  <link href="../css/tokenize2.min.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav th:replace="fragments/navbar :: navbar(true, false)"/>

  <div id="page-wrapper" class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Edit Person</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div th:replace="person/form_person :: form_person(@{/edit_person.html}, true)"/>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->
  
</div>
<!-- /#wrapper -->
<footer th:replace="fragments/footer"/>

<!-- Delete modal -->
<div th:replace="fragments/modal_delete :: modal_delete(${person.firstName} + ' ' + ${person.lastName})"/>

<!-- Project common scripts -->
<block th:replace="fragments/scripts"/>

<!-- Tokenize 2 Teams JavaScript -->
<script src="../js/tokenize2.min.js"></script>
<!-- Custom Script to load tokenize2 -->
<script language="javascript">
  $(document).ready(function () {
    $("#teams").tokenize2();
    $(".tokens-container").addClass("input-lg");
  });
</script>
<th:block th:replace="fragments/modal_delete :: modal_delete_script('/api/person/' + ${person.id})"/>
</body>

</html>
