<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>NextReview</title>

  <!-- Project common stylesheets -->
  <block th:replace="fragments/stylesheets"/>

</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav th:replace="fragments/navbar :: navbar(true, false)"/>

  <div id="page-wrapper" class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Administration Panel</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-users fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><span th:text="${panel.teamCount}"/></div>
                <div class="huge-label">Teams</div>
              </div>
            </div>
          </div>
          <a href="add_team.html">
            <div class="panel-footer">
              <span class="pull-left">Add Team</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><span th:text="${panel.membersCount}"/></div>
                <div class="huge-label">Persons</div>
              </div>
            </div>
          </div>
          <a href="add_person.html">
            <div class="panel-footer">
              <span class="pull-left">Add Person</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-calendar fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><span th:text="${panel.scheduledReviewsCount}"/></div>
                <div class="huge-label">Scheduled Reviews</div>
              </div>
            </div>
          </div>
          <a href="add_review.html">
            <div class="panel-footer">
              <span class="pull-left">Schedule Review</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-8">
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-user fa-fw"></i> Member Management
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Teams</th>
                      <th class="text-right"></th>
                    </tr>
                    </thead>
                    <tbody th:if="${panel.members != null}">
                    <tr th:each="member : ${panel.members.content}" class="selectable" th:onclick="'editPerson(' + ${member.id} + ')'">
                      <td><span th:text="${member.firstName} + ' ' + ${member.lastName}"/></td>
                      <td><span th:text="${member.email}" class="text-tertiary"/></td>
                      <td>
                        <span class="team-tag" th:each="team : ${member.teams}" th:text="${team.name}"/>&nbsp;
                      </td>
                      <td class="text-right">
                        <span class="btn btn-sm btn-warning btn-edit"><i class="fa fa-pencil"></i> Edit</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div th:if="${panel.members == null or panel.members.totalPages lt 1}" class="text-center">
                    No members registered yet. Wanna do something about it?
                    <br/><br/>
                  </div>
                  <div class="text-center" th:if="${panel.members != null}">
                    <div th:replace="fragments/pagination :: pagination (page = ${panel.members})"/>
                  </div>
                </div>
                <!-- /.table-responsive -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">
        <div th:replace="dashboard/widget_reviews"/>
        <div th:replace="dashboard/widget_teams"/>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<footer th:replace="fragments/footer"/>

<!-- Project common scripts -->
<block th:replace="fragments/scripts"/>

<script th:inline="javascript">
  var editPerson = function(id) {
    document.location.href= 'edit_person.html?id=' + id;
  }
  var editReview = function(id) {
    document.location.href= 'edit_review.html?id=' + id;
  }
  var editTeam = function(id) {
    document.location.href= 'edit_team.html?id=' + id;
  }
</script>

</body>

</html>
