<html xmlns:th="http://www.thymeleaf.org">
<body class="dark">
<div th:fragment='widget_reviews'>
  <div class="panel panel-default squared">
    <div class="list-group" th:if="${reviews != null and not #lists.isEmpty(reviews.content)}">
      <a href="#" class="list-group-item selectable" th:each="review : ${reviews.content}"
         th:onclick="'editReview(' + ${review.id} + ')'">
        <span th:text="${review.name}" class="review-name fullscreen"/>
        <br/>
        <span th:text="${review.team.name}" class="review-team fullscreen"/>
        <br/>
        <span th:text="${review.description}" class="review-description fullscreen"/>
        <span class="pull-right" style="position:relative; width: 100px;">
            <div style="position:relative;">
              <div style="position:absolute; top:-70px; right:0;">
                <span class="review-date fullscreen" th:text="${{review.scheduledDateTime}}"></span>
              </div>
              <div style="position:absolute; top:0; right:0;">
                <span class="btn btn-sm btn-warning btn-edit"><i class="fa fa-pencil"></i> Edit</span>
              </div>
            </div>
          </span>
      </a>
    </div>
    <div th:if="${reviews == null or #lists.isEmpty(reviews.content)}" class="text-center">
      No review currently scheduled
      <br/><br/>
    </div>
    <!-- /.panel-body -->
  </div>
</div>
</body>
</html>