* {
  margin: 0;
  padding: 0;
  outline: none; }

html {
  height: 100%; }

.form-control {
  background-color: #595959;
  color: #dedede; }

.text-tertiary {
  color: #ababab; }

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  border-color: #6f6f6f; }

body {
  height: 100%;
  background-color: #333;
  color: #dedede; }
  body .navbar {
    height: 50px; }
    body .navbar .nav li a:hover, body .navbar .nav li a:focus {
      background-color: #595959 !important; }
    body .navbar ul.navbar-top-links {
      height: 100%; }
      body .navbar ul.navbar-top-links:hover {
        background-color: #595959 !important; }
      body .navbar ul.navbar-top-links li.dropdown {
        display: inline-block;
        height: 100%; }
        body .navbar ul.navbar-top-links li.dropdown a.navlink {
          height: 100%;
          padding: 15px; }
        body .navbar ul.navbar-top-links li.dropdown .dropdown-user {
          min-width: 250px; }
          body .navbar ul.navbar-top-links li.dropdown .dropdown-user li {
            width: 100%; }
            body .navbar ul.navbar-top-links li.dropdown .dropdown-user li a {
              line-height: 35px; }
  body .navbar-default {
    background-color: #555;
    border-color: #6f6f6f; }
    body .navbar-default .navbar-brand {
      color: #ccc; }
      body .navbar-default .navbar-brand:hover {
        color: #dedede; }
  body .dropdown-menu {
    background-color: #333; }
    body .dropdown-menu > li > a {
      color: #44adff; }
      body .dropdown-menu > li > a:hover {
        color: #86c7ff;
        cursor: pointer; }
  body a {
    color: #44adff; }
    body a:hover, body a:focus {
      color: #86c7ff;
      cursor: pointer; }
  body .panel-default {
    background-color: #555;
    border-color: #6f6f6f; }
  body .panel-heading {
    background-color: #333; }
  body .table-hover > tbody > tr {
    background-color: #333; }
    body .table-hover > tbody > tr:hover .btn-edit {
      visibility: visible; }
  body .table-striped > tbody {
    background-color: #333; }
    body .table-striped > tbody > tr:nth-of-type(2n+1) {
      background-color: #4d4d4d; }
    body .table-striped > tbody > tr:hover {
      background-color: #595959; }
  body #wrapper {
    min-height: 100%;
    margin-bottom: -90px; }
    body #wrapper:after {
      content: "";
      display: block;
      height: 90px; }
  body .huge {
    font-size: 3em;
    line-height: 1.2em; }
  body .huge-label {
    font-size: 1.3em;
    line-height: 1em; }
  body .panel.squared {
    border-radius: 0 0 16px 16px; }
  body .panel-primary .panel-heading {
    color: #dedede; }
  body .panel-green {
    border-color: #a0c48b; }
    body .panel-green .panel-heading {
      color: #dedede;
      background-color: #6b9b4e; }
  body .panel-yellow {
    border-color: #ebc061; }
    body .panel-yellow .panel-heading {
      color: #dedede;
      background-color: #cc941a; }
  body .panel-default > .panel-heading {
    background-color: #555;
    color: #dedede; }
  body .panel-body {
    background-color: #222; }
  body .panel-footer {
    background-color: #333;
    color: #dedede; }
    body .panel-footer:hover {
      background-color: #595959; }
  body .review-name {
    font-weight: bold;
    color: #44adff; }
    body .review-name.fullscreen {
      font-size: 2.6em; }
  body .review-team {
    color: #dedede; }
    body .review-team.fullscreen {
      font-size: 2em; }
  body .review-description {
    color: #ccc; }
    body .review-description.fullscreen {
      font-size: 1.6em; }
  body .review-date {
    color: #cc941a; }
    body .review-date.fullscreen {
      font-size: 2em; }
  body .btn-default {
    color: #dedede;
    background-color: #333;
    border-color: #6f6f6f; }
    body .btn-default:hover, body .btn-default:focus {
      color: white;
      background-color: #595959; }
  body .btn-round {
    border-radius: 50%;
    padding: 5px; }
    body .btn-round:hover, body .btn-round:focus {
      cursor: pointer; }
  body .pagination > li > a, body .pagination > li > span {
    color: #44adff;
    background-color: #333; }
    body .pagination > li > a:hover, body .pagination > li > a:focus, body .pagination > li > span:hover, body .pagination > li > span:focus {
      color: white;
      background-color: #595959; }
  body .pagination > .active > a, body .pagination > .active > span {
    border-color: white; }
    body .pagination > .active > a:hover, body .pagination > .active > a:focus, body .pagination > .active > span:hover, body .pagination > .active > span:focus {
      border-color: white; }
  body .pagination > .disabled > a, body .pagination > .disabled > span {
    background-color: #333; }
    body .pagination > .disabled > a:hover, body .pagination > .disabled > a:focus, body .pagination > .disabled > span:hover, body .pagination > .disabled > span:focus {
      background-color: #333; }
  body .error {
    color: #963434; }
  body .team-tag {
    padding: 3px 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #ccc;
    background-color: #333;
    border: 1px solid;
    border-color: #595959;
    display: inline-block; }
  body .footer {
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 20px; }
    body .footer .logo {
      height: 40px; }
  body .list-group-item {
    background-color: #333;
    color: #ccc;
    border-color: #6f6f6f; }
    body .list-group-item:hover, body .list-group-item:focus, body .list-group-item:active {
      color: white;
      background-color: #595959; }
  body .selectable:hover {
    cursor: pointer; }
    body .selectable:hover .btn-edit {
      visibility: visible; }
  body .selectable .btn-edit {
    visibility: hidden; }
  body .tokenize > .tokens-container > .token {
    background-color: #44adff;
    border-color: #aadaff;
    border-radius: 4px; }
  body .tokenize > .tokens-container > .placeholder, body .tokenize > .tokens-container > .token-search {
    border-color: transparent; }
  body .tokenize > .tokens-container > .token-search > input {
    border-color: transparent; }

/*# sourceMappingURL=style.css.map */
