<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Pagination Bar -->
<span th:fragment='pagination'>
  <div th:if="${not (page eq null or page.totalPages lt 1)}">
    <ul class="pagination (parameter, page)">
      <li th:class="${page.number eq 0} ? 'disabled' : ''">
        <a th:if="${not page.first}"
           th:href="@{${'/'}(reviewPage=${parameter == 'reviewPage' ? page.number - 1 : param.reviewPage},personPage=${parameter == 'personPage' ? page.number - 1 : param.personPage},personPage=${parameter == 'teamPage' ? page.number - 1 : param.teamPage})}">Previous</a>
        <a th:if="${page.first}" href="javascript:void(0);">Previous</a>
      </li>
      <li th:each="pageNo : ${#numbers.sequence(0, T(Math).max(0, page.totalPages - 1))}"
          th:class="${page.number eq pageNo}? 'active' : ''">
        <a th:if="${page.number  eq pageNo}" href="javascript:void(0);">
          <span th:text="${pageNo + 1}"></span>
        </a>
        <a th:if="${not (page.number  eq pageNo)}" th:href="@{${'/'}(reviewPage=${parameter == 'reviewPage' ? pageNo : param.reviewPage},personPage=${parameter == 'personPage' ? pageNo : param.personPage},personPage=${parameter == 'teamPage' ? pageNo : param.teamPage})}">
          <span th:text="${pageNo + 1}"></span>
        </a>
      </li>
      <li th:class="${page.number + 1 ge page.totalPages} ? 'disabled' : ''">
        <a th:if="${not page.last}" th:href="@{${'/'}(reviewPage=${parameter == 'reviewPage' ? page.number + 1 : param.reviewPage},personPage=${parameter == 'personPage' ? page.number + 1 : param.personPage},personPage=${parameter == 'teamPage' ? page.number + 1 : param.teamPage})}">Next</a>
        <a th:if="${page.last}" href="javascript:void(0);">Next</a>
      </li>
    </ul>
  </div>
</span>
</body>
</html>